<h1>Add Article</h1>

<!-- Add thr url in action -->
<form method="POST" action="/article/edit?id=<%=article._id%>&_method=PUT" >
    <div>
        <label>Title</label>
        <input name="title" type="text" value=<%=article.title%> >
    </div>

    <div>
        <label>Content</label>
        <input name="content" value=<%=article.content%>>
    </div>
    
    <div>
        <label>Is Published</label>
        <input name="isPublisehd" type="text" value=<%=article.isPublisehd%>>
    </div>

    <div>
        <label>Total Words</label>
        <input name="totalWords" type="text" value=<%=article.totalWords%>>
    </div>
    
    <!-- <div>
        <label>Author</label>
        <input name="author" type="text">
    </div> -->
    

    <button type="submit">Update</button>



</form>