<h1>Articles</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Is Published</th>
        <th>Total Words</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% articles.forEach(function(article){ %>
        <tr>
            <td>
                <a href="/article/detail?id=<%=article._id %>">
                 <%= article.title %> </a> </td>

            <td><%= article.content%></td>
            <td><%= article.isPublisehd%></td>
            <td><%= article.totalWords%></td>
            <%article.author.forEach((a, index) =>{  %>
                <td><%= article.author[index].name%></td>
            <% })%>
           

            <td><a href="/article/edit?id=<%=article._id%>">Edit</a></td>

            <td> 
                <!-- <a href="/article/delete?id=<%=//article._id%>">Delete</a>  -->
                <form method="POST" action="/article/delete?id=<%=article._id%>&_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    <%})%>

</table>